# some mess that I ain't touching ever again
/*
!/.config/
!/.local/
!/Pictures/
/Pictures/*
/.config/*
/.config/hypr/laptop.conf
/.config/hypr/explicit_sync.conf
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/fonts
!/.local/share/themes
!/.local/share/icons
/.local/share/icons/hicolor
!/.local/share/slock-1.5

# files to include
!/.gitignore
!/.bash_profile
!/.bashrc
!/.xinitrc

# directories to include
!/Pictures/backgrounds/
!/.github/
!/.config/
!/.config/alacritty/
!/.config/awesome/
!/.config/dunst/
!/.config/hypr/
!/.config/nvim/
!/.config/waybar/
!/.config/picom/
!/.config/polybar/
!/.config/rofi/
!/.config/xmonad/
!/.icons/
!/.local/share/fonts/
!/.local/bin/
