# ignore everything
/*

# ignore specific directories
!/.config/
!/.local/
!/.local/share/
!/Pictures/

# include specific directories
/Pictures/*
/.config/*
/.local/*
/.local/share/*

# files to include
!/.gitignore
!/.bash_profile
!/.bashrc
!/.xinitrc

# directories to include
!/Pictures/backgrounds/
!/.github/
!/.config/
!/.config/dunst/
!/.config/picom/
!/.config/polybar/
!/.config/rofi/
!/.config/xmonad/
!/.icons/
!/.local/share/fonts/
