# ignore everything
/*

# files to include
!/.gitignore
!/.bash_profile
!/.bashrc
!/.xinitrc

# directories to include
!/.config/dunst/
!/.config/picom/
!/.config/polybar/
!/.config/rofi/
!/.config/xmonad/
!/.icons/
!/.local/share/fonts/
